.titlebar{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(236, 154, 54);
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 5px gray;
    font-size: x-large;
}

.buttons{
    background-color: green;
    border-style:hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
    color: white;
    font-size: x-large;
}
body{
    background-color: rgb(233, 227, 227);
}
.buttons:hover{
    background-color: white;
    color: green;
    font-weight: bolder;
}